
#caixa1_1 textarea { border:1px solid #616161; margin-left:-19px; }
#caixa1_1 input { border:1px solid #616161; margin-left:-19px; }
#caixa1_1 input.checkbox { margin-bottom:0; padding:0; border:0px solid #616161; margin-right:10px; margin-left:-1px;  }
#caixa1_1 input.checkbox1 { border:1px solid #616161; margin-right:10px; margin-left:-1px;   }



#conteudo2 table, #conteudo2 tr, #conteudo2 td, { margin: 0; padding: 0; font-family: Tahoma, verdana; border-collapse: collapse;} }